/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0672a8;
    /* background-color: #f6f8f9; */
}   

/* HEADER */

 header{
    background-color: grey;
 }
 
    .logo-container{
        width: 97%;
        margin: auto;
    }

            .logo{
                height: 80px;
                margin-top: 10px;
                margin-bottom: 10px;
                vertical-align: middle;
            }

            h1{
            font-family: 'Franklin Gothic Medium';
            font-size: 60px;
            margin-left: 5px;
            vertical-align: middle;
            display: inline-block;
            }
/* MAIN */

.main-container{
    background-color: rgb(166, 68, 68);
    width: 60%;
    margin: auto;
    margin-top: 60px;
    border-radius: 10px;
}

.margin-container{
    margin-left: 7%;
}
    /* PULSANTI */

   .btn{
       color: white;
       display: inline;
       border-style: solid;
       border-radius: 7px;
       border width: 1px;
       padding: 5px 15px 5px 15px;
       margin-top: 10px;
       margin-bottom: 10px;
   }

         .task{
            background-color: blue;
        }

        .section{
            color: rgb(93, 215, 17);
            background-color: rgb(121, 121, 156)
        }